.orderbtn{
    position: relative;
    color: var(--textColor)!important;
    background-color: var(--themeColor)!important;
    box-shadow: 0px 0px 50px var(--transparentColor);
    padding: 10px!important;
    width: 180px;
    height: 50px;
    z-index: 2!important;

}
.orderbtn:hover{
    background-color: var(--primaryColor)!important;
    color: black;
    border: var(--primaryColor) solid 1px!important;
   
    
}
.conbtn{
    position: relative;
    border: 1px solid var(--primaryColor);
    padding: 10px!important;
    width: 180px;
    height: 50px;
}