.pcard{
    background-color: transparent!important;
    width: 22rem;
    color: rgb(255, 255, 255);
    border-radius: 30px;
    

}


.cardbody{
    color: var(--textColor)!important;
    background-color: transparent;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    

}






.pbtn{
    border-radius: 50px!important;
    padding: 15px!important;
    border: 1px solid var(--textColor)!important;
    color: var(--textColor)!important;
    
}

.pbtn:hover{
    background-color: var(--textColor)!important;
    box-shadow: 0px 0px 10px var(--textColor);
    color: var(--themeColor)!important;
}
.product{
    margin-top: 10%;
    backdrop-filter: blur(25px);
    border-radius: 50px;
}